{
  "check-coverage": true,
  "lines": 0,
  "statements": 0,
  "functions": 0,
  "branches": 0,
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "src/*.js",
    "src/**/*.js"
  ],
  "exclude": [
    "test/*.spec.js",
    "coverage/**"
  ],
  "all": true
}
